<!DOCTYPE html>
<html>
  <head>
    <title>BloggiesPsql</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= render "partials/nav" %>
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            <h1 class="title"><%= yield(:title) %></h1>
          </h1>
        </div>
      </div>
    </section>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

  </body>

  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          &copy Bloggies 2017
        </p>
      </div>
    </div>
  </footer>
</html>
